@page "/"
@inject IChatClient ChatClient
@inject NavigationManager Nav
@inject SemanticSearch Search
@using System.ComponentModel
@implements IDisposable

<PageTitle>Chat</PageTitle>

<ChatHeader OnNewChat="@ResetConversationAsync"/>

<ChatMessageList Messages="@_messages" InProgressMessage="@_currentResponseMessage">
    <NoMessagesContent>
        <div>To get started, try asking about these example documents. You can replace these with your own data and
            replace this message.
        </div>
        <ChatCitation File="Example_Emergency_Survival_Kit.pdf"/>
        <ChatCitation File="Example_GPS_Watch.pdf"/>
    </NoMessagesContent>
</ChatMessageList>

<div class="chat-container">
    <ChatSuggestions OnSelected="@AddUserMessageAsync" @ref="@_chatSuggestions"/>
    <ChatInput OnSend="@AddUserMessageAsync" @ref="@_chatInput"/>
    <SurveyPrompt/> @* Remove this line to eliminate the template survey message *@
</div>

@code {

    private const string _systemPrompt = @"
        You are an assistant who answers questions about information you retrieve.
        Do not answer questions about anything else.
        Use only simple markdown to format your responses.

        Use the search tool to find relevant information. When you do this, end your
        reply with citations in the special XML format:

        <citation filename='string' page_number='number'>exact quote here</citation>

        Always include the citation in your response if there are results.

        The quote must be max 5 words, taken word-for-word from the search result, and is the basis for why the citation is relevant.
        Don't refer to the presence of citations; just emit these tags right at the end, with no surrounding text.
        ";

    private readonly ChatOptions _chatOptions = new();
    private readonly List<ChatMessage> _messages = new();
    private CancellationTokenSource? _currentResponseCancellation;
    private ChatMessage? _currentResponseMessage;
    private ChatInput? _chatInput;
    private ChatSuggestions? _chatSuggestions;

    protected override void OnInitialized()
    {
        _messages.Add(new(ChatRole.System, _systemPrompt));
        _chatOptions.Tools = [AIFunctionFactory.Create(SearchAsync)];
    }

    private async Task AddUserMessageAsync(ChatMessage userMessage)
    {
        CancelAnyCurrentResponse();

        // Add the user message to the conversation
        _messages.Add(userMessage);
        _chatSuggestions?.Clear();
        await _chatInput!.FocusAsync();

        // Stream and display a new response from the IChatClient
        var responseText = new TextContent("");
        _currentResponseMessage = new ChatMessage(ChatRole.Assistant, [responseText]);
        _currentResponseCancellation = new();

        // Pass a copy of the messages then add messages to the list while handling the streaming responses
        var requestMessages = _messages.ToArray();

        await foreach (var update in ChatClient.GetStreamingResponseAsync(requestMessages, _chatOptions, _currentResponseCancellation.Token))
        {
            AddMessages(_messages, update, c => c is not TextContent);
            responseText.Text += update.Text;
            ChatMessageItem.NotifyChanged(_currentResponseMessage);
        }

        // Store the final response in the conversation, and begin getting suggestions
        _messages.Add(_currentResponseMessage!);
        _currentResponseMessage = null;
        _chatSuggestions?.Update(_messages);
    }

    private void CancelAnyCurrentResponse()
    {
        // If a response was cancelled while streaming, include it in the conversation so it's not lost
        if (_currentResponseMessage is not null)
        {
            _messages.Add(_currentResponseMessage);
        }

        _currentResponseCancellation?.Cancel();
        _currentResponseMessage = null;
    }

    private async Task ResetConversationAsync()
    {
        CancelAnyCurrentResponse();
        _messages.Clear();
        _messages.Add(new(ChatRole.System, _systemPrompt));
        _chatSuggestions?.Clear();
        await _chatInput!.FocusAsync();
    }

    // TODO: Needed until https://github.com/dotnet/extensions/issues/6114 is resolved, which will introduce
    // an extension method on IList<ChatMessage> for adding messages from a ChatResponseUpdate.
    private static void AddMessages(IList<ChatMessage> list, ChatResponseUpdate update, Func<AIContent, bool> filter)
    {
        var contentsList = update.Contents.Where(filter).ToList();
        if (contentsList.Count > 0)
        {
            list.Add(new(update.Role ?? ChatRole.Assistant, contentsList)
            {
                AuthorName = update.AuthorName,
                RawRepresentation = update.RawRepresentation,
                AdditionalProperties = update.AdditionalProperties
            });
        }
    }

    [Description("Searches for information using a phrase or keyword")]
    private async Task<IEnumerable<string>> SearchAsync(
        [Description("The phrase to search for.")]
        string searchPhrase,
        [Description("Whenever possible, specify the filename to search that file only. If not provided, the search includes all files.")]
        string? filenameFilter = null)
    {
        await InvokeAsync(StateHasChanged);
        var results = await Search.SearchAsync(searchPhrase, filenameFilter, 5);
        return results.Select(result =>
            $"<result filename=\"{result.FileName}\" page_number=\"{result.PageNumber}\">{result.Text}</result>");
    }

    public void Dispose()
    {
        _currentResponseCancellation?.Cancel();
    }

}
